body{
    line-height: 170%;
    padding: 2%;
}

h3{
    font-weight: bold;
    
}

li{
    list-style: circle;
    margin-left: 2%;
}

td, th{
    border: 1px solid black;
    text-align: center;
    padding: 10px;
    vertical-align: middle;
}

th{
    font-weight: bold;
}

.name{
    font-weight: bold;
}

