html{
    background-image: url(1.png);
    background-color: black;
    color: white;
    font-family:'Noto Serif KR';
    scroll-behavior: smooth
}

header{
    background-color: black;
    height: 20%;
    opacity: .8;
    position: fixed;
    top: 0;
    width: 100%;
    color: white;
    z-index: 10;
}

#logo{
    width: 11.5%;
    padding-top: .2%;
    margin-left: 3% ;
    /* border: 2px solid wheat; */
    border-radius: 0% 0% 5% 5%;
    float: left;
}

ul{
    padding-right: 3%;
}
li{
    float: right;
    padding: 8% 2%;
    font-size: x-large;
    
}
a:hover{
    color: #ffa805;
    
}

a{
    text-decoration: none;
    color: #ffba5dcf;

}



table{
    margin:20% auto 5% auto;
    font-size: xx-large;
    box-shadow: 10px 5px 5px 10px #00000087;
    font-family: font-family: 'Average Sans';
}


td, th{
    border: 1px solid white;
    text-align: center;
    padding: 10px;
    vertical-align: middle;
    box-shadow: 10px 5px 5px #00000087;

}

th{
    font-weight: bold;
}

.name{
    font-weight: bold;
}

form{
    text-align: center;
    margin-top: 0;
    font-size: 112%;
}

legend{
    margin-bottom: 3%;
    font-size: x-large;


}
input{
    margin: auto;
    display: block;
    margin-bottom: 1.2%;
    margin-top: 1%;
    padding: 0.5% 3% 0.5% 0;
}

input[type="submit" i]{
    text-align: center;
    padding: 10px 34px;
    background-color: #b3651be3;
    color: wheat;
    font-weight: bold;
    text-transform: uppercase;
}



button{
    display: block;
    margin: 0 auto 4% auto;
    padding: 1% 3%;
    background-color: rgb(83, 78, 78);
    color: wheat;
}



